<div *ngIf="dataLoaded" class="container">
    <h1>Leaderboard</h1>
    <div class="row" style="height: 100%">
        <div class="col-md-2" style="width: 18%; height: 100%; border-right-width: 2px;">
            <div class="row" style="margin-top: 5%">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> Team </label>
                        <select class="form-control" name="sel" [(ngModel)]="selectedTeam">
                            <option *ngFor="let team of teams" [ngValue]="team">
                                {{team.NAME}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> From Year </label>
                        <select class="form-control" name="sel" [(ngModel)]="fromYear">
                            <option *ngFor="let year of years" [ngValue]="year">
                                {{year}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> To Year </label>
                        <select class="form-control" name="sel" [(ngModel)]="toYear">
                            <option *ngFor="let year of years" [ngValue]="year">
                                {{year}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> Position </label>
                        <select class="form-control" name="sel" [(ngModel)]="selectedPosition">
                            <option *ngFor="let position of positions" [ngValue]="position">
                                {{position}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> Stats </label>
                        <select class="form-control" name="sel" [(ngModel)]="selectedStat">
                            <option *ngFor="let stat of stats" [ngValue]="stat">
                                {{stat.name}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label> Top Results </label>
                        <select class="form-control" name="sel" [(ngModel)]="selectedRecordNum">
                            <option *ngFor="let record of records" [ngValue]="record">
                                {{record}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">
                <div>
                    <form class="well" style="background-color:rgb(224, 223, 223);">
                        <label style="margin-right: 5%;"> Is a Rookie ? </label>
                        <input [(ngModel)]="isRookie" type="checkbox" name="isRookie" class="onoffswitch-checkbox" id="isRookie" unchecked>
                    </form>
                </div>
            </div>

            <div class="row">
                    <div>
                        <form class="well" style="background-color:rgb(224, 223, 223);">
                            <label style="margin-right: 5%;"> For a Calendar Year ? </label>
                            <input [(ngModel)]="isCalendarYear" type="checkbox" name="isCalendarYear" class="onoffswitch-checkbox" id="isCalendarYear" unchecked>
                        </form>
                    </div>
                </div>

            <div class="row">
                <div style="margin-top: 10px;">
                    <input type="button" (click)="getLeaders($event, selectedTeam.TEAM_ID, fromYear, toYear, selectedPosition, selectedStat.code, selectedRecordNum, isRookie, isCalendarYear)"
                        value="Apply Filters" class="form-control btn btn-primary btn-lg">
                </div>
            </div>
        </div>

        <div class="col-md-9" style="margin-left: 3%;" *ngIf="leaders">
                <h2 *ngIf="!isRookie && !isCalendarYear" style="text-align: center; color: #148aad;"> Top {{resultCount}} Players with highest {{selectedStat.name}}</h2>
                <h2 *ngIf="!isRookie && isCalendarYear" style="text-align: center; color: #148aad;"> Top {{resultCount}} Players with highest {{selectedStat.name}} for a Calendar Year</h2>
                <h2 *ngIf="isRookie" style="text-align: center; color: #148aad;"> Top {{resultCount}} Rookies with highest {{selectedStat.name}}</h2>

                <div class="row" style="margin-top: 5%; margin-left: 0%;" *ngIf="leaders[0]">
                        <form>
                                <table class="squadtable table" style="margin-top: 12px;">
                                        <tr>
                                                <th *ngFor = "let key of objectKeys(leaders[0])">{{lmap[key]}}</th>
                                        </tr>
                                        <tr *ngFor="let leader of leaders">
                                                <td *ngFor = "let key of objectKeys(leaders[0])">{{leader[key]}}</td>
                                        </tr>
                                </table>
                        </form>
                </div>
        </div>
    </div>
</div>