<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul id="featureMenu" class="nav navbar-nav" (click)="setFeature($event)">
                    <li>
                        <a>View Player</a>
                    </li>
                    <li>
                        <a>View Squad</a>
                    </li>
                    <li class="active">
                        <a>Compare Players</a>
                    </li>
                    <li>
                        <a>Compare Teams</a>
                    </li>
                    <li>
                        <a>Leaderboard</a>
                    </li>
                    <li>
                        <a>Stat Insights</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div *ngIf="selectedFeature == 'viewPlayer'">
        <players></players>
    </div>
    <div *ngIf="selectedFeature == 'compareTeam'">
        <teamcmp></teamcmp>
    </div>
    <div *ngIf="selectedFeature == 'viewSquad'">
        <teams></teams>
    </div>
    <div *ngIf="selectedFeature == 'leaderboard'">
        <leaderboard></leaderboard>
    </div>
    <div *ngIf="selectedFeature == 'insights'">
        <insights></insights>
    </div>
    <div *ngIf="selectedFeature == 'comparePlayer'">
        <playercmp></playercmp>
    </div>
</div>