<div class="container">
        <h1>Player Profile</h1>
<div class="col-md-6">
<div>
<form class="well" (submit)="searchPlayer($event, name)">
      <div class="form-group">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Search Player">   
        </div>
        <div class="col-md-4">
            <input type="button" (click)="searchPlayer($event, name)" value="Search" class="form-control btn btn-primary btn-lg">     
        </div>
      </div>
</form>
</div>

<div class="player-list">
    <div class="btn-group-vertical" role="group">
    <div *ngFor="let player of players">
        <button type="button" class="btn btn-lg btn-link active" (click)="viewPlayer(player.PLAYER_ID)">{{player.FIRST_NAME}} {{player.LAST_NAME}}</button>
    </div>
    </div>
</div>
</div>

<div class="col-md-6">
    <div *ngIf="selectedPlayer">
        <h1>{{selectedPlayer.FIRST_NAME}} {{selectedPlayer.LAST_NAME}}</h1>
        <form>
            <table class="table">
                    <tr *ngFor="let key of objectKeys(selectedPlayer)">
                        <td *ngIf="map[key]">{{map[key]}}</td>
                        <td *ngIf="map[key]">{{selectedPlayer[key]}}</td>
                    </tr>
            </table>
        </form>
    </div>
</div>

</div>