<div class="row">
<form class="well col-md-6" (submit)="searchPlayer($event, name)">
      <div class="form-group">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Search Player">   
        </div>
        <div class="col-md-4">
            <input type="button" (click)="searchPlayer($event, name)" value="Search" class="form-control btn btn-primary btn-lg">     
        </div>
      </div>
</form>
</div>

<div class="player-list">
    <div *ngFor="let player of players">
        <div class="col-md-5">
            {{player.FIRST_NAME}} {{player.LAST_NAME}}   
        </div> 
        <div class="col-md-3">
            <input type="button" (click)="viewPlayer(player.PLAYER_ID)" value="View Profile" class="btn btn-info">    
        </div>
        <br><br>
    </div>
</div>